<div class="table-responsive">
  <%= link_to :synchronize_enquiries, method: :post, class: 'btn btn-info btn-lg float-left' do %>
    <span class="glyphicon glyphicon-refresh">check for new enquiries</span>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email Address</th>
        <th scope="col">Enquiry</th>
        <th scope="col">Source</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @enquiries %>
    </tbody>
  </table>
</div>
