<div class="table-responsive">
  <table class="table">
    <caption>Enquiries</caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email Address</th>
        <th scope="col">Enquiry</th>
        <th scope="col">Source</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @enquiries %>
    </tbody>
  </table>
</div>
